body,
html{
    align-items: center;
    background-color: white;
}

.stagger-visualizer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 17rem;
    margin: 150px auto
}

.stagger-visualizer div {
    /*position: absolute;*/
    width: 1rem;
    height: 1rem;
    border: 1px solid #133f7c;
    background-color:#133f7c;
}

